<div class="row">
  <div class="col-xs-12 col-sm-6">
    <% if @cocktail.url %>
      <img src=<%= @cocktail.url %> alt=<%= @cocktail.name %> class="cocktail-picture">
    <% else %>
      <img src="https://i.pinimg.com/564x/e1/44/4c/e1444c2aefbbbaab465d896baf29703a.jpg") alt="cocktail" class="cocktail-picture">
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <h1><%= @cocktail.name %> <small> <%= link_to edit_cocktail_path(@cocktail) do %>
    <i class="fa fa-pencil" aria-hidden="true"></i>
    <% end %> <%= link_to cocktail_path(@cocktail), method: :delete, data: { confirm: "Delete #{@cocktail.name}?"} do %>
    <i class="fa fa-trash-o" aria-hidden="true"></i><% end %>
  </small></h1>

    <h4>Ingredients:</h4>
    <ul>
      <% @cocktail.doses.each do |dose| %>
        <li><%= dose.ingredient.name %>: <%= dose.description  %> <%= link_to cocktail_dose_path(@cocktail, dose), method: :delete, data: { confirm: "Delete #{dose.ingredient.name}?"} do %>
    <i class="fa fa-trash-o" aria-hidden="true"></i><% end %></li>
      <% end %>
    </ul>

    <hr>
    <h4>Add an ingredient:</h4>
    <%= simple_form_for [@cocktail, Dose.new] do |f| %>
      <%= f.association :ingredient, collection: Ingredient.order('name ASC') %>
      <%= f.input :description %>
      <%= f.submit class: "btn btn-primary btn-block" %>
    <% end %>

    <%= link_to 'See all cocktails', cocktails_path %>
  </div>
</div>
