<div class="row">
  <div class="col-xs-12 col-md-6">
    <% if @cocktail.photo.url %>
      <%= cl_image_tag @cocktail.photo, height: 500, width: 300, crop: :fill %>
    <% else %>
      <img src="https://i.pinimg.com/564x/f5/cf/23/f5cf23b323b55b7a8e5e5fa5cdeb76b6.jpg") alt="cocktail" class="cocktail-picture">
    <% end %>
  </div>
  <div class="col-xs-12 col-md-6 cocktail-details">
    <h3><%= @cocktail.name %> <small> <%= link_to edit_cocktail_path(@cocktail) do %>
    <i class="fa fa-pencil" aria-hidden="true"></i>
    <% end %> <%= link_to cocktail_path(@cocktail), method: :delete, data: { confirm: "Delete #{@cocktail.name}?"} do %>
    <i class="fa fa-trash-o" aria-hidden="true"></i><% end %>
  </small></h3>

    <% if @cocktail.doses.first %>
      <h4>Ingredients:</h4>
      <ul>
        <% @cocktail.doses.each do |dose| %>
          <li><%= dose.ingredient.name %>: <%= dose.description  %> <%= link_to cocktail_dose_path(@cocktail, dose), method: :delete, data: { confirm: "Delete #{dose.ingredient.name}?"} do %>
      <i class="fa fa-trash-o" aria-hidden="true"></i><% end %></li>
        <% end %>
      </ul>
    <% else %>
    <p><em>Your delicious cocktail doesn't have any ingredient yet!</em></p>
    <% end %>

    <hr>
    <h5><i class="fa fa-glass" aria-hidden="true"></i> Add an ingredient:</h5>
    <%= render 'doses/form', {cocktail: @cocktail, dose: @dose } %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 cocktail-review">
    <h4>Reviews:</h4>
    <% if @cocktail.reviews.first %>
      <ul>
        <% @cocktail.reviews.each do |review| %>
          <li><%= review.rating.times do %><i class="fa fa-star" aria-hidden="true"></i>
          <% end %> - <%= review.content  %>
        <% end %>
      </ul>
    <% else %>
    <p><em>Your delicious cocktail doesn't have any review yet!</em></p>
    <% end %>
    <hr>
    <h5><i class="fa fa-heart" aria-hidden="true"></i> Leave an review:</h5>
    <%= render 'reviews/form', {cocktail: @cocktail, review: @review } %>
  </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="display-back text-center">
      <%= link_to 'See all cocktails', root_path, class: "primary-button-full button-large" %>
    </div>
  </div>
</div>
